<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebUi.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Add the Blazored.Toast CSS reference here -->
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>
<Routes />
<!-- Add the BlazoredToasts component here -->
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" 
                Timeout="5"
                ShowProgressBar="true" />
<script src="_framework/blazor.web.js"></script>
</body>
</html>